/* GENERAL */
body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	color: #333;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";	font-size: 16px;
	line-height: 1.6;
	word-wrap: break-word;
	width: 728px;
	max-width: 99%;
	box-sizing: border-box;
	padding: 30px 30px 8rem 30px;
	margin-left: auto;
	margin-right: auto;
}
body * {
	box-sizing: border-box;
}
body:before {
	display: table;
	content: "";
}
body:after {
	display: table;
	clear: both;
	content: "";
}
body>*:first-child {
	margin-top: 0 !important;
}
body>*:last-child {
	margin-bottom: 0 !important;
}
body .select::-ms-expand {
	opacity: 0;
}
body strong {
	font-weight: bold;
}

/* HEADER */
#title-block-header {
	margin-bottom: 1em;
	text-align: center;
}
p.author, p.date {
	font-weight: bold;
	margin-bottom: 0px;
}

/* HEADINGS */
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	margin-top: 1em;
	margin-bottom: 16px;
	font-weight: bold;
	line-height: 1.4;
}
body h1 {
	margin: 0.67em 0;
	font-size: 2em;
	line-height: 1.2;
}
body h2 {
	font-size: 1.5em;
	line-height: 1.225;
}
body h3 {
	font-size: 1.25em;
	line-height: 1.43;
}
body h4 {
	font-size: 1em;
}
body h5 {
	font-size: 1em;
}
body h6 {
	font-size: 1em;
	color: #777;
}

/* LINKS */
body a {
	background-color: transparent;
	color: #4078c0;
	text-decoration: none;
}
body a:hover,
body a:active {
	outline: 0;
	text-decoration: underline;
}
body a:not([href]) {
	color: inherit;
	text-decoration: none;
}

/* IMAGES */
body img {
	border: 0;
	max-width: 100%;
	box-sizing: content-box;
	background-color: #fff;
}

/* LISTS */
body ul,
body ol {
	padding-left: 2em;
	margin-top: 0;
	margin-bottom: 0;
}
body ol ol,
body ul ol {
	list-style-type: lower-roman;
}
body ul ul,
body ul ol,
body ol ol,
body ol ul {
	margin-top: 0;
	margin-bottom: 0;
}
body ul ul ol,
body ul ol ol,
body ol ul ol,
body ol ol ol {
	list-style-type: lower-alpha;
}
body li>p {
	margin-top: 16px;
}
body dd {
	margin-left: 0;
}
body dl {
	padding: 0;
}
body dl dt {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
}
body dl dd {
	padding: 0 16px;
	margin-bottom: 16px;
}
body .task-list-item {
	list-style-type: none;
}
body .task-list-item+.task-list-item {
	margin-top: 3px;
}
body .task-list-item input {
	margin: 0 0.35em 0.25em -1.6em;
	vertical-align: middle;
}
body :checked+.radio-label {
	z-index: 1;
	position: relative;
	border-color: #4078c0;
}

/* TABLES */
body table {
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
	width: 100%;
	overflow: auto;
	word-break: normal;
	word-break: keep-all;
}
body table th {
	font-weight: bold;
}
body table th,
body table td {
	padding: 6px 13px;
	border: 1px solid #ddd;
}
body table tr {
	background-color: #fff;
	border-top: 1px solid #ccc;
}
body table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

/* BLOCKQUOTES */
body blockquote {
	margin: 0;
	padding: 0 15px;
	color: #777;
	border-left: 4px solid #ddd;
}
body blockquote>:first-child {
	margin-top: 0;
}
body blockquote>:last-child {
	margin-bottom: 0;
}

/* CODE */
body pre,
body code,
body kbd {
	font: 12px Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 1em;
}
body pre {
	overflow: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 16px;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f7f7f7;
	border-radius: 3px;
	word-wrap: normal;
}
body code {
	padding: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	font-size: 85%;
	background-color: rgba(0,0,0,0.04);
	border-radius: 3px;
}
body code:before,
body code:after {
	letter-spacing: -0.2em;
	content: "\00a0";
}
body pre>code {
	padding: 0;
	margin: 0;
	font-size: 100%;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}
body pre code {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}
body pre code:before,
body pre code:after {
	content: normal;
}
body kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
	line-height: 10px;
	color: #555;
	vertical-align: middle;
	background-color: #fcfcfc;
	border: solid 1px #ccc;
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}

/* INPUTS */
body input {
	color: inherit;
	font: inherit;
	margin: 0;
}
body html input[disabled] {
	cursor: default;
}
body input {
	line-height: normal;
}
body input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
body input {
	font-size: 13px;
	line-height: 1.4;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HORIZONTAL RULES */
body hr {
	box-sizing: content-box;
	height: 4px;
	margin: 16px 0;
	padding: 0;
	overflow: hidden;
	background: transparent;
	background-color: #e7e7e7;
	border: 0 none;
	border-bottom: 1px solid #ddd;
}
body hr:before {
	display: table;
	content: "";
}
body hr:after {
	display: table;
	clear: both;
	content: "";
}

/* REFERENCES */
.references p {
	text-indent: -20px;
	margin-left: 20px;
}
:target {
	animation: highlight 3s ease;  
}
@keyframes highlight {
	0% { background-color: #ffa; }
	100% { background-color: transparent; }
}

/* PARAGRAPH NUMBERING */
/* 
body {
	counter-reset: paragraph;
}
body > p:before {
	content: counter(paragraph);
	counter-increment: paragraph;
	position: absolute;
	text-align: right;
	width: 15px;
	margin-left: -2em;
	font-weight: 400;
	font-size: 0.7em;
	line-height: 2.2em;
	opacity: 0.5;
}
#refs p:before {
	content: none;
}
blockquote > p:before {
	content: none;
}
 */

/* ESPACEMENT */
body p,
body blockquote,
body ul,
body ol,
body dl,
body table,
body pre {
	margin-top: 0;
	margin-bottom: 16px;
}